body {
	min-width: 940px;
	background-color: #f1f1f1;
	color: #3b3b3b;
	
	font-family: "Segoe UI",Frutiger,"Frutiger Linotype","Dejavu Sans","Helvetica Neue",Arial,sans-serif!important;

	background: #ccc url(%%background5%%);
	background-repeat: repeat;

}
	/* Custom browser CSS */
	:focus {outline: 0px;}

	::-webkit-scrollbar {
		width: 12px;
		height: 12px;
		background-color: #f5f5f5;
		border-left: 1px solid #d2d2d2;
	}

	::-webkit-scrollbar-thumb {
		background-color: #c3c3c3;
		border-top: 1px solid #b6b6b6;
		border-bottom: 1px solid #969696;
		border-left: 1px solid #b6b6b6;
	}

	::-webkit-scrollbar-button {
		display: none;
		width: 0;
		height: 0;
	}

	::-webkit-scrollbar-corner {
		background-color: transparent;
		color: #555555;
	}

	::selection {background-color:#52a8ec;color:white;font-weight:normal;}

	/* Link */
	a {
		color: #52a8ec;
	}

	a:hover {
		color: #2a6496;
		text-decoration: none !important;
	}

	.error {
		color: #ff4444;
		font-size: 13px;
		
		

	}

	.comments-page #noresults:after {
		content: "... so go ahead and tell us what you think!";
	}

	.arrow { width: 15px; height: 14px; background-position: 0px !important; }

	.arrow.up {  background-image: url(%%upvote-gray%%) }
	.arrow.up:hover, .arrow.upmod {  background-image: url(%%upvote%%) }
	.arrow.upmod:hover {  background-image: url(%%upvote%%) }

	.arrow.down {  background-image: url(%%downvote-gray%%) }
	.arrow.down:hover, .arrow.downmod {  background-image: url(%%downvote%%) }
	.arrow.downmod:hover {  background-image: url(%%downvote%%) }

	/* General Button*/
	button, #search input[type='submit'], .wiki-page .wiki-page-content .wiki_button {
		margin: 3px 3px 3px 3px;
		padding: 0px 8px 1px 8px;
		background-color: #ffffff;
		border: 1px solid #d4d4d4;
		border-radius: 2px;
		-webkit-box-shadow: 0 1px 0 #e2e0e0;
		box-shadow: 0 1px 0 #e2e0e0;
		color: #737373 !important;
		text-transform: capitalize;
		line-height: 26px;
		cursor: default;
	}

	button:hover, #search input[type='submit']:hover, .wiki-page .wiki-page-content .wiki_button:hover {
		border-color: #52a8ec;
		color: #333!important;
		cursor: pointer;
	}

			button:active, #search input[type='submit']:active, .wiki-page .wiki-page-content .wiki_button:active {
				margin: 3px 3px 3px 3px;
				padding: 0px 8px 1px 8px;
				background-color: #ffffff;
				border: 1px solid #d4d4d4;
				border-radius: 2px;
				box-shadow: 0 1px 0 #e2e0e0;
				color: #737373!important;
				text-transform: capitalize;
				line-height: 26px;
				cursor: default;
			}


	/* Header Area */
	/* Top Most header */
	#sr-header-area {
		opacity: 0.6;
		filter: alpha(opacity=60);
		height: 18px;
		background-color: #003336;
		border-bottom:1px solid #002325;
		color: #fff;

	}
		
		#sr-header-area:hover {
			opacity: 0.8;
			filter: alpha(opacity=80);
			text-decoration: none !important;
		}

		#sr-header-area a {
			color: #fff;
			padding: 3px;
		}
	
			#sr-header-area a:hover {
				color: #fff; 
				text-decoration: none;
				background-color: #005358;
			}
	
		#sr-more-link {
			position: absolute;
			background-color: #333;
			color: #fff;
		}
	
		.dropdown.srdrop .selected {background-image: none;}
		.dropdown.srdrop .selected:after {content: "▼";}
		#sr-header-area .dropdown.srdrop {padding-left: 23px;}

		.sr-bar .separator {
			color: #fff;
			text-indent: -9999px;
			margin:0;
			visibility: hidden;
		}

		.sr-bar .separator:after{
			content:"▪";
			position: relative;
			left: -2px;
		}
		
		#sr-header-area .width-clip .dropdown.srdrop .selected.title {
			color: #fff;
			font-weight: normal;
		}

		#sr-header-area .drop-choices a.choice {
			color: #333 !important;
		}

		 #sr-header-area .drop-choices a.choice:hover {
		 	background-color: #52a8ec;
		 	color: #fff !important;
		 }




		/* --- HEADER --- */

		#header-bottom-right {
		    background: #fff;
		    padding: 4px 8px !important;
		    -webkit-border-top-left-radius: 0;
		    -moz-border-radius-topleft: 0;
		    border-top-left-radius: 0;
		    border-bottom: 0;
		    padding: 4px 8px !important;
		}
		#header-bottom-right .separator {
		    color: #ccc;
		    margin: 0px 1.2ex 0px 1.2ex;
		    visibility: hidden;
		}
		.pref-lang {
		    font-weight: normal;
		}


		/* Header Image */
		#header { 
			height: 150px;
		    border-bottom: none; 
		    background: #2a2b2e url(%%headerimg%%) no-repeat fixed 96% 0%;
		}
		#header-bottom-left .tabmenu { 
		    margin: 0 0 0 5px;
		}

			/*#header:after {
				position: absolute;
				top: 132px;
				left: 0px;
				z-index: -1;
				width: 100%;
				height: 44px;
				background: #fff;
				border-bottom: 0px solid;
				content: " ";
				text-indent: -999px;
			}*/

			#header-img {
				position: absolute;
				top: 104px;
				left: 0px;
				z-index: 99;
				width: 44px;
				height: 44px;
				background-image: url(%%spritesheet%%);
				background-position: 0px -226px;
				background-repeat: no-repeat;
			} 

				#header-img:hover {background-position: -44px -226px;}
			
			.pagename a {
				display: block;
				visibility: visible !important;
				position: absolute;
				left: 50%;
				z-index: 99;
				background-image: url(%%alien%%);
				background-position: 0px 0px;
				background-repeat: no-repeat;
				text-indent: -9999px;
			}

			.pagename a {
				top: 25px;
				width: 120px;
				margin-left: -75px;
				height: 130px;
				}
				.pagename {visibility: hidden;}

				#header .tabmenu {
							position: absolute;
							top: 108px;
							margin: 0px;
							left: 0px;
							padding: 0px;
							background-color: transparent;
							border-bottom: 0px solid;
							color: #999;
							list-style-type: none;
							vertical-align: bottom;
							text-align: center;
							white-space: nowrap;
							min-width: 450px;
						}

							.tabmenu li {
								display: inline-block;
								margin:7px 0px 0px 0px;
							}
							
							.tabmenu li a {
								margin: 0px 15px;
								padding: 8px 0px 8px 0px;
								background-color: transparent;
								border: 0px solid;
								color: #999;
								font-weight: normal;
								
								

							}

								.tabmenu li a:hover {
									border-bottom: 2px dotted #52a8ec;
									color: orangered;
									text-decoration: none;
								}
							
								.tabmenu li.selected a {
									z-index: 100;
									background-color: transparent;
									border: 0px solid;
									border-bottom: 2px solid #5f99cf;
								}
									.tabmenu li.selected a:hover {
										border-color: #719ff2;
										text-decoration: none !important;
									}

							
								#header .tabmenu {
									text-align: left;
									margin-left: 55px;
								}

						.listing-page .tabmenu li:nth-of-type(3),	/* Rising */
						.listing-page .tabmenu li:nth-of-type(4),	/* Controversial */
						.listing-page .tabmenu li:nth-of-type(8),	/* View Images */
						.listing-page .tabmenu li a[href*="/promoted"], /* Self-serve advertising */
						.listing-page .tabmenu li a[href*="/gilded"]	/* gilded */
						{display:none;}

						.listing-page .tabmenu li:nth-of-type(7):after{
							position: absolute;
							height: 64px;
							width: 64px;
							background: url(%%left-hand%%);
							content: "";
							margin: -18px 0px 0px -10px;
							z-index: 99;
						}

		/* User bar */
		#header-bottom-right {
			top: auto !important;
			bottom: 0px !important;
			background-color: transparent;
		}
			.userbarHide{
				display: none !important;
			}

			.user {color: #999;}
				.loggedin .user {color: #999;}
			
			#header-bottom-right a {
				color: #999;
				font-weight: normal;
			}

				#header-bottom-right a:hover {
					color: orangered;
					text-decoration: none;
				}

			/* Mail / Modmail icons */
			#mail {
				top: -2px ;
				overflow: visible;
				width: 16px;
				height: 16px;
				background-image: url(%%spritesheet%%) !important;
			}

				#mail:hover, #modmail:hover {
					border-bottom: 0px solid !important;
				}
			
				#mail.nohavemail {background-position: -64px 0px;}
				#mail.havemail   {background-position:-80px 0px;}

					#mail.havemail:before, #modmail.havemail:before  {
						display: block;
						visibility: visible !important;
						position: fixed;
						top: 4px;
						right: 10px;
						z-index: 2;
						z-index: 0;
						width: 25px;
						height: 25px;
						background-color: #fff;
						background-image: url(%%spritesheet%%);
						background-position: -126px -50px;
						border-radius: 50%;
						content: " ";
					}

			
			#modmail {
				top: -2px;
				margin-bottom: -6px;
				width: 16px;
				height: 16px;
				background-image: url(%%spritesheet%%) !important;
			}
			

				#modmail.havemail   {background-position:-112px 0px;}
				#modmail.nohavemail {background-position:-96px 0px;}
				#modmail.havemail:before {background-position: -151px -50px; margin-right: 40px;}


			/* Preferences & Logout Icons */
			#header-bottom-right a.pref-lang, .loggedin .logout a{
				background-position: -96px -49px;
				background-image: url(%%spritesheet%%);
				width: 16px;
				height: 16px;
				display: inline-block;
				text-indent: -9999px;
				margin: 0px;
				position: relative;
				top: -2px;
			}

				.loggedin .logout a {background-position: -80px -49px;}

			.gearIcon {
				background-image: url(%%spritesheet%%)!important;
				background-position: -80px -65px!important;
				height: 16px!important;
				width: 17px!important;
			}


			/* Opacity Hoves */
			#modmail, #mail, .gearIcon, #header-bottom-right a.pref-lang, 
			.loggedin .logout a {
				opacity: 0.75;
			}

				#modmail:hover, #mail:hover, #header-bottom-right a.pref-lang:hover, 
				.loggedin .logout a:hover, .gearIcon:hover {
					opacity: 1;
					text-decoration: none !important;
					border-bottom: 0px solid !important;
				}

		/* Sidebar */
		.side {
			float: right;
			margin: 20px 15px 0px 0px;
			padding-top: 25px;
			width: 300px;
			text-align: left;
			
			background: #fbfbfb;
			outline: 5px solid #E7E7E7;
			border: solid 1px #D1CDCD;
			color: #777;
		}
					
			/* SUBMIT LINK OR POST */
			.morelink {
				z-index: 97;
				width: 270px;
				height: 28px;
				background-color: #52a8ec;
				background-image: none!important;
				border: 1px solid #52a8ec;
				border-bottom: 3px solid #52a8ec;
				border-radius: 2px;
				-webkit-box-shadow: 0 1px 2px #CECECE;
				box-shadow: 0 1px 2px #CECECE;
				margin-left: 15px;
			}

				.morelink:hover {
					background-color: #52a8ec;
					border-bottom: 3px solid #3863B6;
				}

					.morelink:active {
						background-color: #3863B6;
						border-top: 2px solid #21365F;
						border-bottom: 3px solid #3863B6;
						-webkit-box-shadow: none;
						box-shadow: none;
					}

				.morelink a {
					color: #fff !important;
					letter-spacing: 0px;
					font-weight: normal;
					font-size: 15px;
					
					

					cursor: pointer;
					line-height: 30px;
				}

					.morelink a:hover {text-decoration: none;}


					.subscriber .morelink a:after {
						position: fixed;
						top: 4px;
						right: 30px;
						z-index: 98;
						background-color: #52a8ec;
						color: #FFF;
						content: "Submit Content";
						padding: 0px 12px;
					}
			
				.disabled .morelink,.disabled .morelink:hover {
					background-image: none;
					border: 0px solid;
					color: white;
					font-size: 0px;
					background-color: #c8c8c8;
					margin-top: 3px;
					text-shadow: none;
					box-shadow:none;
				}

					.disabled .morelink a {
						color: #fff;
						letter-spacing: 0px;
						font-weight: 600;
						font-size: 14px;
						
						

						cursor: default;
						text-indent: 0px;
						text-shadow: none;
					}

					.account-activity-box, .sidebox.create, .morelink .nub {display: none;}
			/* Subreddit name sidebar */
			.titlebox h1.redditname a {
				position: absolute;
				top: 183px;
				margin: 0px;
				font-weight: lighter;
				
				

			}

			.titlebox h1.redditname a:before{
				content: "r/";
			}
			
			.titlebox h1 a{
				color: #52a8ec;
			}

			.titlebox h1 a:hover{
				color: #2a6496;
				text-decoration: none;
			}

			.sidebox .subtitle {font-size: 1.6em;}
		
			/* Sub / Unsub button */

			.fancy-toggle-button .active {
				outline: none !important;
				background-image: none !important;
				border: 0px;
				border-radius: 2px;
				color: #fff !important;
				text-transform: capitalize;
				font-weight: normal;
				font-size: 12px;
				
				line-height: 26px;
				cursor: default;
			}	

				/* Sub */
				.fancy-toggle-button .add {
					background-color: #52a8ec;
					border-top: 2px solid #52a8ec;
					border-bottom: 2px solid #52a8ec;
					-webkit-box-shadow: 0 1px 0 #e2e0e0;
					box-shadow: 0 1px 0 #e2e0e0;					
				}

					.fancy-toggle-button .add:hover {
						background-color: #52a8ec;
						border-top: 2px solid #52a8ec;
						border-bottom: 2px solid #3863b6;
						-webkit-box-shadow: none;
						box-shadow: none;
						text-decoration: none;
					}

						.fancy-toggle-button .add:active {
							background-color: #3863b6;
							border-top: 2px solid #21407a;
							border-bottom: 2px solid #3863b6;
							-webkit-box-shadow: none;
							box-shadow: none;
						}

				/* Unsub */

				/* Unsub */
				.fancy-toggle-button .remove {
					background-color: #ff7f50;
					border-top: 2px solid #ff7f50;
					border-bottom: 2px solid #ff7f50;
					-webkit-box-shadow: 0 1px 0 #e2e0e0;
					box-shadow: 0 1px 0 #e2e0e0;	
				}

					.fancy-toggle-button .remove:hover {
						background-color: #ff7f50;
						border-top: 2px solid #ff7f50;
						border-bottom: 2px solid #9e2b00;
						-webkit-box-shadow: none;
						box-shadow: none;
						text-decoration: none;
					}

						.fancy-toggle-button .remove:active {
							background-color: #9e2b00;
							border-top: 2px solid #3c1000;
							border-bottom: 2px solid #9e2b00;
							-webkit-box-shadow: none;
							box-shadow: none;
						}


				/* Sub notice */
				.fancy-toggle-button .add:after {
					position: fixed;
					top: 4px;
					right: 25px;
					z-index: 98;
					background-color: #52a8ec;
					color: #FFF;
					content: "Subscribe Now";
					padding: 0px 16px;
				}
					.fancy-toggle-button .add:hover:after {
						background-color: #52a8ec;
						border-bottom: 3px solid #3863B6 ;
						height: 23px;
					}


			
			/*Replace readers.. */
				div.titlebox span.word {display: none;}
				.titlebox .users-online {display: inline;}
				.titlebox .users-online:before {display: none;}
				.titlebox .users-online .number {font-style: italic;font-size: 12px;}
				.titlebox .users-online .number:before {content: "(";}
				.titlebox .users-online .number:after {content: " getting fit)";}
				.titlelebox .word {display: none;}
				.titlebox .users-online, .titlebox .number {cursor: text;}	
				.titlebox .tagline {font-size: 12px;}	
				.titlebox .subscribers .number:after {content: " in recovery";}

			/* Subreddit description */
			.titlebox {
				padding: 0px 15px 15px 15px;
				color: #404040;
		
			}
				.titlebox .md {
					font-size: 14px;
					line-height: 1.35em;
					
					

				}

				.titlebox .bottom {
					padding-top: 5px;
					border-top: 1px solid #e5e5e5;
					color: #999;
					font-size: 110%;
				}

				/* Download button */
				.titlebox h5 {
					width: 100%;
					height: 30px;
					color: #fff;
					background-color: #52a8ec;
					border-bottom: 2px solid #306cd1;
					display: block;
					font-size: 18px;
					text-align: center;
					line-height: 31px;
					margin-top: 10px;
					margin-bottom: 10px;
				}

					.titlebox h5 a, .titlebox h5 a:hover {
						text-decoration: none;
						color: #fff;
						cursor: pointer;
					}

					.titlebox h5:hover {
						background-color: #77a7fb;
						border-bottom: 2px solid #52a8ec;
						text-decoration: none;
					}

						.titlebox h5:active {
							background-color: #306cd1;
							border-bottom: 2px solid #306cd1;
						}

			/* Search */
			#search {

			}
			
				#search input[type=text] {
					margin: 17px 0px 0px 0px;
					padding: 5px 0px 5px 40px;
					width: 258px;
					background-image: url(%%spritesheet%%);
					background-position: -129px 0px;
					background-repeat: no-repeat;
					border: none;
					border: 1px solid #eee;
					color: #999;
					font-weight: normal;
					font-size: 16px;
					
					

				}	
					.side #search:before {
						position: absolute;
						height: 56px;
						width: 105px;
						background: url(%%right-hand%%);
						content: "";
						margin: 15px 0 0 -95px;
						z-index: 99;
					}

						#search input[type=text]:focus {
							padding: 5px 0px 5px 40px;
							width: 258px;
							outline: none !important;
							border: 1px solid #52a8ec;
							color: #52a8ec;
						}

								#searchexpando {
								margin: 0px 0px 5px 0px;
								padding: 5px 5px 0px 15px;
								height: 25px;
								background-color: #f5f5f5;
								border: 0px solid;
								border-bottom: 1px solid #DFDFDF;
								border-radius: 0px;
								color: #3b3b3b;
								font-size: 150%;
								}

									#searchexpando label {cursor: pointer;}
									.search-page form#search label {font-size: 150%;cursor: pointer;}
			
					#search_showmore {display: none;}
			
			/* Ad Frame */
			#ad-frame,#ad_main {text-align: center;}

			/* Sidebar mod box */
			.sidecontentbox {
				padding: 0px 5px 0px 15px;
			}

			.sidecontentbox .title {
				text-align: left;
			}
			
			.sidecontentbox .title h1 {
				color: #262626;
				text-align: left;
				text-transform: capitalize;
				font-size: 14px;
				
				

			}
			
				.sidecontentbox.collapsible .title {
					text-align: left;
				}
			
				.sidecontentbox .collapse-button {
					background: transparent;
					border: 0px;
					border-radius: 0px;
					color: #262626;
					font-size: 15px;
				}
			
			.sidecontentbox .content {
				padding: 3px 0px 5px 0px;
				background-color: transparent;
				border: 0px solid;
				text-align: left;
			}
			
				.sidecontentbox .content a {
					color: #262626;
					text-align: left;
					
					

				}
			
					.sidecontentbox .content a:hover {
						color: #2a6496;
						text-decoration: none !important;
					}

			/* Mod icons */
			.icon-menu a {background-color: transparent;}
			.icon-menu .reddit-edit:before{background-image:url(%%spritesheet%%);background-position: 0px  -33px;}
			.icon-menu .moderator-mail:before{margin-top:-1px;height:16px;background-image:url(%%spritesheet%%);background-position: -16px -32px;}
			.icon-menu .reddit-moderators:before{background-image:url(%%spritesheet%%);background-position: -32px -33px;}
			.icon-menu .reddit-contributors:before{background-image:url(%%spritesheet%%);background-position: -48px -33px;}
			.icon-menu .reddit-traffic:before{background-image:url(%%spritesheet%%);background-position: -64px -32px;}
			.icon-menu .reddit-modqueue:before{background-image:url(%%spritesheet%%);background-position: -80px -32px;}
			.icon-menu .reddit-reported:before{background-image:url(%%spritesheet%%);background-position: -96px -32px;}
			.icon-menu .reddit-spam:before{background-image:url(%%spritesheet%%);background-position: -112px -32px;}
			.icon-menu .reddit-ban:before{background-image:url(%%spritesheet%%);background-position: -128px -32px;}
			.icon-menu .reddit-flair:before{background-image:url(%%spritesheet%%);background-position: -144px -32px;}
			.icon-menu .reddit-moderationlog:before{background-image:url(%%spritesheet%%);background-position: -160px -33px;}
			.icon-menu a.reddit-unmoderated {display: none;}

			/* Message the mods */
				.sidecontentbox a.helplink {
					display: block;
					margin-right: 27px;
					margin-bottom: 15px;
					width: 80%;
					background-color: #52a8ec;
					background-image: none!important;
					border: none;
					border-top: 2px solid #52a8ec;
					border-bottom: 2px solid #52a8ec;
					-webkit-box-shadow: 0 1px 0 #E2E0E0;
					box-shadow: 0 1px 0 #E2E0E0;
					color: #fff !important;
					text-align: center;
					text-transform: capitalize;
					text-shadow: 0px 1px 0px #5787e1;
					letter-spacing: 0px;
					font-weight: normal;
					font-size: 13px;
					
					

					line-height: 26px;
					cursor: default;
				}

					.sidecontentbox a.helplink:hover {
						background-color: #6599fa;
						border-top: 2px solid #6599fa;
						border-bottom: 2px solid #3863b6;
						-webkit-box-shadow: none;
						box-shadow: none;
						text-decoration: none;
					}

						.sidecontentbox a.helplink:active {
							background-color: #3863b6;
							border-top: 2px solid #21407a;
							border-bottom: 2px solid #3863b6;
							-webkit-box-shadow: none;
							box-shadow: none;
						}


	/* Links/Posts Area */
	/* Actual Links */
		.content {
			/*margin-top: 34px;
			margin-left: 10px;*/
		}

				/* Fixed Scroll Banner */
				.titlebox h6 {
					position: fixed;
					top:0px;
					right: 0px;
					left: 0px;
					z-index: 97;
					height: 35px;
					background-color: #fff;
					-webkit-box-shadow: 0 2px 4px 0 #d3d3d3;
					box-shadow: 0 2px 4px 0 #d3d3d3;
					color: #737373;
					text-align: center;
					font-weight: normal;
					font-size: 22px;
					line-height: 35px;
				}

					.titlebox h6 a {
						margin: 0px 17px 0px 17px;
						padding: 2px 0px 2px 0px;
						border: 0px solid;
						color: #999;
						font-weight: normal;
						font-size: 22px;
						
						

					}

						.titlebox h6 a:hover {
							border-bottom: 2px solid #52a8ec !important;
							color: #262626 !important;
							text-decoration: none;
						}

						/* reddit icon */
						.titlebox h6 a[href*="http://www.reddit.com#top"] {
							position: fixed;
							left:0px;
							top:0px;
							height: 35px;
							width: 35px;
							background-color: #ff0;
							background-image: url(%%spritesheet%%);
							background-position: 0px -49px;
							border-bottom: 0px;
							text-indent: -9999px;
							padding: 0px;
							margin: 0px;
						}

							.titlebox h6 a[href*="http://www.reddit.com#top"]:hover {
								background-position: -35px -49px;
							}

						.new-page .titlebox h6 a[href*="/new"], .top-page .titlebox h6 a[href*="/top"], .hot-page .titlebox h6 a[href*="/hot"]  {border-bottom: 2px solid #52a8ec; color: #262626;}


			.link {
				margin-right: 320px;
				margin-bottom: 8px;
				padding: 8px 10px 6px 10px;
			}

/*				.link, .side, .submit-page .infobar, .roundfield, .submit-page .content button,
				.content.submit .info-notice, .stylesheet-customize-container .pretty-form, #images, .search-page .raisedbox, 
				.search-page .searchfacets, .linefield, .search-page .searchpane, .nextprev {
					border: 0px;
					border-bottom: 3px solid #e5e5e5 !important;
					background-color: #fff;
				}*/

				/* Stickied Link */
				.stickied.link {border-color: rgb(72, 173, 72) !important;outline-color: #C4DAC2 !important;}
					.thing.stickied a.title, .thing.stickied a {color: #65b354!important; font-weight: normal !important;}
					.thing.stickied a.thumbnail {background-position: -102px -209px;}

				/* Promoted Link */
				.organic-listing {
					margin-right: 320px;
					border: 1px solid #D0D6DD;
					border-bottom-width: 3px;
					border-top-width: 0px;
				}

				.link .title {
					font-weight: normal;
					
					line-height: 100%;
					padding-bottom: 10px; 
				}

				.link .title > a{
					vertical-align: middle;
				}

					.link .title:hover {color: #52a8ec !important;}
						/* Link Titles */
		/*Unvisited*/	.thing .title.loggedin.click, .thing .title.click, .thing .title.loggedin, .thing .title {color:#52a8ec;}
		/*Visited  */	.thing .title:visited, .thing.visited .title {color:#7D5D8A;}
		/*Clicking */	.thing .title.loggedin.click:visited, .thing .title.click:visited {color:#52a8ec;}

				/* Upvote and downvotes */
				.link .score {margin-bottom: -1px;margin-left: 0px;color:#999;
					}

			
					.link .score.likes {color: #ee5821;}	
					.link .score.dislikes {color: #6f85bf;}
			
				/* Expand post */
				.expando-button {
					margin: 0px 5px 0px 0px !important;
					width: 16px !important;
					height: 16px !important;
					background-color: transparent !important;
					background-image: url(%%spritesheet%%) !important;
					cursor: pointer;
				}
		
		/*  +  */	.content .expando-button.selftext.collapsed {background-position:0 -17px;}				
		/*  +  */	.content .expando-button.selftext.collapsed:hover {background-position:-16px -17px;}
		/*  -  */	.content .expando-button.selftext.expanded {background-position:-32px -17px;}				
		/*  -  */	.content .expando-button.selftext.expanded:hover {background-position:-48px -17px;}	

					.expando-button.video.collapsed {background-position: -64px -17px;}
					.expando-button.video.collapsed:hover, .eb-vch {background-position: -80px -17px;}
					.expando-button.video.expanded, .eb-ve {background-position: -64px -17px;}
					.expando-button.video.expanded:hover, .eb-veh {background-position: -80px -17px;}

					.res .expando-button.image.collapsed,.expando-button.image.gallery.collapsedExpando, .expando-button.image.collapsedExpando {background-position: -96px -17px!important;}
					.res .expando-button.image.collapsed:hover, .expando-button.image.collapsedExpando:hover, .expando-button.image.gallery.collapsedExpando:hover {background-position: -112px -17px!important;}
					.res .expando-button.image.expanded {background-position: -96px -17px!important;}
					.res .expando-button.image.expanded:hover {background-position: -112px -17px!important;}

					/* Selftext expand */
					.link .usertext .md {
						padding: 0 5px;
						background-color: #fff;
						border: 0px solid;
						border-top: 1px solid #e5e5e5;
						border-radius: 0px;
						color: #404040;
						font-weight: normal;
						font-size: 14px;
						
						

						line-height: 1.35em;
					}

			.domain {color: white;}
				.domain a {color: #c0c0c0;}
					.domain a:hover {color: #2a6496;text-decoration: none;}

			.link .tagline {
				color: #999;
				font-size: 12px;
				margin-bottom: 8px;
			}

			.thumbnail {
				max-height: 50px;
				max-width: 70px;
			}

				.thumbnail.self {
					background-image: url(%%spritesheet%%);
					background-position: -102px -92px;
					background-repeat: no-repeat;
				}

				.thumbnail.default {
					background-image: url(%%spritesheet%%);
					background-position: -102px -154px;
					background-repeat: no-repeat;
				}

				.thumbnail.nsfw {
					width: 80px;
					height: 50px;
					background-image: url(%%spritesheet%%);
					background-position: -22px -150px;
					background-repeat: no-repeat;
				}

			.entry {
				padding-left: 5px;
			}

				.entry .buttons li a {
					padding: 0 1px;
					color: #ccc;
					font-weight: 400;
					font-size: 13px;
				}

					.entry .buttons li a:hover {
						color: #2a6496;
						text-decoration: none !important;
					}

					.link .entry li .comments {
						visibility: visible;
						color: #52a8ec;
						font-weight: normal;
						font-size: 13px;
					}

					
					.link .usertext .md ul {visibility: visible !important;}
					.nsfw-stamp acronym 
					{
						visibility: visible;
						background-color: #e82e63;
						border-radius:2px;
						color:#fff;
						cursor: help;
						padding: 2px 4px;
						border-color: #CE2F5C !important;
					}

					.entry .buttons a[onclick*="reply"] {
						color: #52a8ec !important;
						font-weight: normal !important;
						font-size: 13px !important;
					}

					.link .flat-list {
						font-weight: normal;
						
						

					}

						.link .midcol {margin-right: 0px;}
						.link .rank {display: none;}
						.link.last-clicked {
							overflow: hidden;
							background-color: #f8f8f8;
							border: 0px solid #d8d8d8;
							border-bottom: 3px solid #e5e5e5;
						}
			/* Mod Report buttons */
			.entry .buttons li.reported-stamp {
				background-color: #f5b400;
				border-radius: 2px;
				border: 1px solid #e2a600 !important;
				color: #fff;
				font-weight: normal;
				background-image: none;
			}

			a.pretty-button.negative {
				border-radius: 2px;
				background-color: #dc4437;
				color: #fff;
				font-weight: normal;
				border: 1px solid #c4362a;
				background-image: none;
			}

			a.pretty-button.neutral {
				border-radius: 2px;
				font-weight: normal;
				color: #fff;
				background-color: #666666;
				border: 1px solid #4d4d4d;
				background-image: none;
			}

			a.pretty-button.positive {
				border-radius: 2px;
				font-weight: normal;
				color: #fff;
				background-color: #109d59;
				border: 1px solid #0a8a4c;
				background-image: none;
			}

			.menuarea {
				margin-right: 320px;
				border: none;
				font-size: 16px;
			}

			.infobar {
				margin-right: 320px;
				background-color: #4B4A4A;
				border: none;
				color: #fff;
				font-size: 14px;
			}

				.infobar a {color: #89B3FF;}

				/* First time visit infobar */
				.infobar.welcome {
					margin-right: 326px;
					color: #333;
					margin-bottom: 8px;
					margin-left: 5px;
					margin-top: 16px;
				}

			.nextprev {
				margin-top: 8px;
				margin-right: 320px;
				height: 35px;
				color: #737373;
				text-align:center;
				font-size: 16px;
				line-height: 35px;
				padding: 10px;
			}

				.nextprev a {
					background-color: transparent;
					border: none;
					color: #52a8ec;
				}

					.nextprev a:hover {
						background-color: transparent;
						border: none;
					}

		/* Submit Page */
		form#newlink.submit.content {
			margin-top: 40px;
		}


			.submit-page .infobar {
				display: none;
				margin-top: 0px;
				margin-bottom: 8px;
				padding: 10px 10px 10px 10px;
				color: #3b3b3b;
				text-align: center;
				text-indent: -9999px;
				font-size: 0px;
			}

				.formtabs-content .infobar:before {
					display: block;
					text-indent: 0px;
					font-size: 16px;
				}
			
			.submit-page .tabmenu li a {margin:0px;}
			.submit-page ul.tabmenu.formtab {padding-left: 0px;width: 500px;text-align:center; }
			.formtabs-content {padding-top: 0px;border-top: 4px solid #52a8ec;}	
		
				.submit-page .tabmenu.formtab a {
					padding: 5px 55px 0px 55px;
					width: 100px;
					background-color: white;
					border: 0px solid;
					color: #52a8ec;
					text-align: center;
					font-weight:normal;
					font-size: 14px;

				}

					.submit-page .tabmenu li a:hover {color: #333;}
				
					.submit-page .tabmenu.formtab .selected a {
						padding: 5px 60px 0px 60px;
						background-color: #52a8ec;
						color: #fff;
						font-size: 18px;
					}
				
			.roundfield {
				padding: 10px 10px 10px 10px;
				color: #707070;
			}
			
				.submit-page textarea, .roundfield input[type=url], .roundfield input[type=text], .login-form-side input[type=text], .login-form-side input[type=password],
				.linefield textarea, .linefield input[type="text"], .flairlist .flaircell input[type="text"], .linkinfo .shortlink input, .search-page #search input[type=text] {
					margin: 0;
					padding: 5px;
					border: 1px solid #d9d9d9;
					border-top: 1px solid #c0c0c0;
					-webkit-box-shadow: none;
					box-shadow: none;
					color: #333;
					font-size: 100%;
					
				}

					.submit-page textarea:hover, .roundfield input[type=url]:hover, .roundfield input[type=text]:hover, .login-form-side input[type=text]:hover, .login-form-side input[type=password]:hover,
					.linefield textarea:hover, .linefield input[type="text"]:hover, .flairlist .flaircell input[type="text"]:hover, .linkinfo .shortlink input:hover, .search-page #search input[type=text] {border: 1px solid #bebebe;}
					
					.submit-page textarea:focus, .roundfield input[type=url]:focus, .roundfield input[type=text]:focus, .login-form-side input[type=text]:focus, .login-form-side input[type=password]:focus,
					.linefield textarea:focus, .linefield input[type="text"]:focus, .flairlist .flaircell input[type="text"]:focus, .linkinfo .shortlink input:focus, .search-page #search input[type=text] {border: 1px solid #52a8ec;color: #000;}

					.linefield .usertext-edit textarea {height: 500px;}

					.submit-page .content textarea, .submit-page .content input[type=url], .submit-page .content input[type=text] {width: 488px;}

			.submit-page .content button {
				margin-bottom: 30px;
				margin-left: 0px;
				padding: 10px 10px 10px 10px;
				width: 522px;
				text-align: center;
				cursor: pointer;
				color: white !important;
				background-color: #52a8ec;
				background-image: none!important;
				border: 1px solid #52a8ec;
				border-bottom: 3px solid #52a8ec;
			}

				.submit-page button:hover {
					background-color: #52a8ec;
					border-bottom: 3px solid #3863B6;
					text-decoration: none;
				}

					.submit-page button:active {
						background-color: #3863B6;
						border-top: 2px solid #21365F;
						border-bottom: 3px solid #3863B6;
						-webkit-box-shadow: none;
						box-shadow: none;
					}



				.submit-page h1 {display: none;}
					.submit-page .side h1 {display: inherit;}

		.content.submit .info-notice {
			margin: 0px 0px 4px 0px;
			padding: 20px 10px 20px 10px;
			color: #707070;
			text-align: center;
			border: 0px;
			border-bottom: 3px solid #E5E5E5;
		}

			.content.submit .info-notice a {
				text-decoration: none;
				font-size: 120%;
			}

				.content.submit .info-notice a:hover {text-decoration: underline;}
				.thing.spam {border-color: #F3B9B9; background-color: #fff;margin-right: 320px;}			
				#file {margin: 10px;}		
				.submit-page .gray, #url-field button, #suggested-reddits {display: none;}
				.submit-page form .spacer+.spacer {margin: 8px 0px;}

		/* Flair Selector */
		.flairselector.drop-choices.active {
			visibility: visible !important;
			background-color: #fff;
			border: 1px solid #d8d8d8;
			border-radius: 2px;
		}
			.flairselector h2 {
				padding: 5px 5px 5px 5px;
				background-color: #fff;
				border-bottom: 1px solid #e5e5e5;
				color: #333;
				text-transform: capitalize;
				font-size: 130%;
			}

			.flairoptionpane {
				text-align: left;
			}

				.flairoptionpane ul {visibility: visible !important;}
				.flairoptionpane ul a.title {font-size: 100% !important;}

				.flairselector li {
					padding: 3px 0px 3px 0px;
					width: 182px;
				}

					.flairselector li:hover {
						background-color: #efefef;

					}

			.flairselector form {border-top: 1px solid #e5e5e5;}
			.flairsample-left {text-align: left !important;}
			.flairselector ul {overflow: visible;}
			.flairselector li.selected {background-color: #e5ebf8;border:none;}

		/* Flairs */

		/* LINKFLAIRS */
		.linkflairlabel {
			padding: 0px 6px 1px 6px;
			height: auto;
			font-size: 13px;
			cursor: default;
			vertical-align: middle;
		}

			.linkflair-mod .linkflairlabel {
				background-color: #5fb04d;
				border: 1px solid #4c8d3e;
				color: #fff;
			}

				.linkflair-mod a {color: #4c8d3e !important;}

				.linkflair-mod .thumbnail.default, .linkflair-mod .thumbnail.self {
					background-image: url(%%spritesheet%%)!important;
					background-position: -22px -90px!important;
					background-repeat: no-repeat;
				}

			.linkflair-image .linkflairlabel {
				background-color: #dc4437;
				border: 1px solid #d03e32;
				color: #fff;
			}

			.linkflair-gif .linkflairlabel {
				background-color: #f5b400;
				border: 1px solid #e5a800;
				color: #fff;
			}

			.linkflair-extra .linkflairlabel {
				background-color: #52a8ec;
				border: 1px solid #3a7ae6;
				color: #fff;
			}

		/* USER FLAIRS */
		.flair {
			height: auto;
			background-color: transparent;
			border: none;
			color: #555;
			font-size: small !important;
			font-family: Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif;
			border: 1px solid #DADADA;
			padding: 0px 3px 2px 3px;
			cursor: help;
		}

		
		/* Flair-page  */
		div.tabpane-content {
			padding: 4px 4px 4px 4px;
			border: 0px solid #e5e5e5;
			border-bottom-width: 3px;
			background-color: #fff;
			width: 1080px;
			margin-top: 7px;
		}
			
			.linefield {
				margin-bottom: 5px;
				padding: 10px 10px 10px 10px;
				width: 55.5%;
				color: #707070;
				margin-bottom: 15px;
			}
		
				.linefield .title {
					padding: 1px 10px;
					color: #52a8ec;
				}

				.linefield .title+.gray {font-size: small;}
	

					.flairtemplate .flairrow {
						margin-top: 2px;
						margin-right: 320px;
						padding: 5px 5px 8px 3px;
						color: #707070;
						text-transform: capitalize;
						width: 100%;
						margin-bottom: 8px;
					} 

					.tabmenu li#tab-grant.selected, .tabmenu li#tab-templates.selected, 
					.tabmenu li#tab-link_templates.selected {margin: 7px 0px 4px 0px;}

					.tabmenu li#tab-grant.selected a, .tabmenu li#tab-grant a:hover,
					.tabmenu li#tab-templates.selected a, .tabmenu li#tab-templates a:hover, 
					.tabmenu li#tab-link_templates.selected a, .tabmenu li#tab-link_templates a:hover {color: #333;}

.login-form-side {
			border: 0px;
			border-bottom: 1px solid #d8d8d8;
			font-size: 120%;
			margin: 10px;
		}

		.login-form-side input[type=text], .login-form-side input[type=password] {
			margin: 10px 0px;
			width: 265px;
		}
		
			.popup {
				position: fixed;
				left: 10%;
				margin-bottom: 30px;
				padding: 10px 10px 10px 10px;
				background-color: white;
				border: 0px solid;
				border-radius: 2px;
				color: #3b3b3b;
				font-size: 16px;
				font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
			}
		
				.cover {
					position: fixed;
					top: 0px;
					left: 0px;
					z-index: 1000;
					width: 100%;
					height: 100%;
					background-color: white;
					opacity: .6;
					filter: alpha(opacity=60);
				}

		/* Search page */
		.search-page #search {
			position: relative;
			top: 0px;
			margin: 0px 150px 0px 80px;
			height: 50px;
			background: none !important;
			background-color: transparent;
			text-align: left;
		}	

			.search-page .searchpane {
				margin: 5px 320px 5px 0px;
				padding-left: 96px;
				height: 120px;
			}
			
				.search-page .raisedbox {
					padding: 5px;
					border: 0px solid;
				}

				.search-page #search input[type=text] {
					padding: 5px 0px 5px 40px;
					font-size: 150%;
				}

			
			.searchfacets {
				margin-top: 10px;
				margin-right: 320px;
				padding: 10px;
				box-shadow:none;
				color: #3b3b3b;
				border: 0px solid;
				border-bottom: 3px solid #E5E5E5;
			}

			.search-page #header .tabmenu {display: none !important;}
			.search-page .side {padding-top: 40px;}
			
			.search-summary {margin-right: 40px;}

		/* Fuckin' Reddit Enhancement Suite (RES) */
		.res .keyHighlight {
			background-color: transparent;
			outline: 0px solid;
		}

			.res .RES-keyNav-activeElement, .res .commentarea .RES-keyNav-activeElement .md, .res .commentarea .RES-keyNav-activeElement.entry .noncollapsed {
				background-color: transparent !important;
			}

				.res .RES-keyNav-activeElement {outline: none !important; border-radius: 0px !important;}

		/* Res Live Preview */
		.RESDialogSmall {
			border: 1px solid #DFDFDF!important;
			border-radius: 0px!important;
		}

		.RESDialogSmall > h3 {
			background-color: #f4f4f4!important;
			border-bottom: 1px solid #DFDFDF!important;
			border-radius: 0px!important;
			color: #333!important;
		}

		.res .comment {
			margin-top:0px !important;
			margin-bottom: 3px !important;
			border: 1px solid #f8f8f8 !important;
		}
		
		/* comment comment comment comment comment god damn it */
			.comments-page .comment {background-color: #FCFCFC !important;}
			.comments-page .comment .comment {background-color: #FCFCFC !important;}
			.comments-page .comment .comment .comment {background-color: #FCFCFC !important;}
			.comments-page .comment .comment .comment .comment {background-color: #FCFCFC !important;}
			.comments-page .comment .comment .comment .comment .comment {background-color: #FCFCFC !important;}
			.comments-page .comment .comment .comment .comment .comment .comment {background-color: #FCFCFC !important;}
			.comments-page .comment .comment .comment .comment .comment .comment .comment {background-color: #FCFCFC !important;}
			.comments-page .comment .comment .comment .comment .comment .comment .comment .comment {background-color: #FCFCFC !important;}
			.comments-page .comment .comment .comment .comment .comment .comment .comment .comment .comment {background-color: #FCFCFC !important;}
			.comments-page .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment {background-color: #FCFCFC !important;}
		
		
		.RESshortcutside, .RESDashboardToggle {
			outline: none !important;
			background-image: none !important;
			border: 0px  !important;
			border-radius: 2px !important;
			color: #fff !important;
			text-transform: capitalize !important;
			font-weight: normal !important;
			font-size: 12px !important;
			margin-top: 0px !important;
			font-family: arial, sans-serif !important;
			cursor: default !important;
			background-color: #52a8ec !important;
			border-top: 2px solid #52a8ec !important;
			border-bottom: 2px solid #52a8ec !important;
			-webkit-box-shadow: 0 1px 0 #e2e0e0 !important;
			box-shadow: 0 1px 0 #e2e0e0 !important;	
			text-align: center !important;
			width: 68px !important;
			padding: 1px 6px !important;
			margin-right: 5px !important;
		}

			.RESshortcutside:hover , .RESDashboardToggle:hover{
				background-color: #52a8ec !important;
				border-top: 2px solid #52a8ec !important;
				border-bottom: 2px solid #3863b6 !important;
				-webkit-box-shadow: none !important;
				box-shadow: none !important;
				text-decoration: none !important;
			}

			.RESshortcutside:active , .RESDashboardToggle:active {
				background-color: #3863b6 !important;
				border-top: 2px solid #21407a !important;
				border-bottom: 2px solid #3863b6 !important;
				-webkit-box-shadow: none !important;
				box-shadow: none !important;
			}

		
			.RESshortcutside.remove, .RESDashboardToggle.remove{
				background-color: #ff7f50 !important;
				border-top: 2px solid #ff7f50 !important;
				border-bottom: 2px solid #ff7f50 !important;
				-webkit-box-shadow: 0 1px 0 #e2e0e0 !important;
				box-shadow: 0 1px 0 #e2e0e0 !important;	
			}
				
			.RESshortcutside.remove:hover, .RESDashboardToggle.remove:hover{
				background-color: #9e2b00 !important;
				border-top: 2px solid #3c1000 !important;
				border-bottom: 2px solid #9e2b00 !important;
				-webkit-box-shadow: none !important;
				box-shadow: none !important;
			}
		
			.RESshortcutside.remove:active, .RESDashboardToggle.remove:active{
				background-color: #ff7f50 !important;
				border-top: 2px solid #ff7f50 !important;
				border-bottom: 2px solid #9e2b00 !important;
				-webkit-box-shadow: none !important;
				box-shadow: none !important;
				text-decoration: none !important;
			}
		
		
			#RESShortcutsEditContainer {
				top: 1px !important;
				background-color: #2d2d2d !important;
			}
		
				#RESShortcutsRight,#RESShortcutsLeft,#RESShortcutsAdd,#RESShortcutsTrash {
					background-color: #2d2d2d !important;
					color: #979797 !important;
				}

			#srLeftContainer, #RESShortcutsViewport, #RESShortcutsEditContainer {
				border-left: 1px solid #666;
				padding-left: 10px;
			}

			.res #RESShortcutsSort {width: 30px !important;background-color: transparent !important;color:#B1B1B1 !important; }
			/* resresresresresresresrsesresresrsstop */
			.content .RESBigEditorPop  {color: #333 !important; padding:2px;}
			.markdownEditor {white-space: inherit !important;}


		#progressIndicator, #NERFail, .NERPageMarker {
			margin-right: 320px !important;
			width: inherit !important;
			background-color: white !important;
			border: 1px solid #d8d8d8 !important;
			border-top: 0px solid !important;
			border-bottom: 3px solid #d8d8d8 !important;
			border-radius: 2px !important;
		}

			.res #NREFloat {
				top: 8px;
				z-index: 100;
			}

				.res .fancy-toggle-button .add:after {
					right: 50px !important;
				}

		.RESSubscriptionButton {
			background-color: white !important;
			border: 0px solid !important;
			border-radius: 0px !important;
			color: #52a8ec !important;
		}
		
		.res #header-bottom-right {
			right: 10px;
			padding: 4px 2px 5px 2px !important;
			border-radius: 0px !important;
		}

			
		
			.res #userbarToggle {display: none !important;}

			#RESAccountSwitcherIcon {margin-top: -5px;}

			.res .author.submitter {
				padding: 2px 5px !important;
				background-color: #DD4B39!important;
				border-radius: 0px !important;
				color: #fff !important;
			}

				.res .author.submitter:hover {background-color: #ed5f4d !important;}

			.res .author.moderator {
				padding: 2px 5px !important;
				background-color: #53a93f !important;
				border-radius: 0px !important;
				color: #fff !important;
			}

				.res .author.moderator:hover {
					background-color: #64be4f !important;
					color: #fff !important;
				}

			.res .blueButton {
				padding: 2px 3px !important;
				background-color: #53a93f !important;
				border: none !important;
				border-radius: 0px !important;

			}


/*temporary*/

/*res overrides*/
.res .RES-keyNav-activeElement, .res .commentarea .RES-keyNav-activeElement .md, .res .commentarea .RES-keyNav-activeElement.entry .noncollapsed {
	background-color: transparent!important;
	outline: none;
}

.entry{
	padding: 10px;
}

.titlebox form.toggle, .leavemoderator{
	background: none;
}

.rank{
	display: none;
}

div.content > #siteTable > .link:first-child{
	margin-top: 85px;
}

div.content > #siteTable > .link{
	margin-right: 330px;
	margin-top: 20px;
}

#siteTable > .link {
	background: #fbfbfb;
	outline: 5px solid #E7E7E7;
	color: #777;
	padding: 0px;
	margin-left: 10px;
	padding-left: 10px;
	border: 1px solid #D1CDCD;
}

body >.content .link .midcol{
	padding: 10px;
	padding-left: 0px;
	width: 5.1ex !important;
}

.title .domain{
	display: none;
}

.expando .usertext-body {
	border-top: dashed 1px #ccc;	
}

.link .usertext .md{
	background-color: transparent !important;
	border: none;
	border-radius: 0px;
}

a:hover{
	text-decoration: none;
}
/*box-shadow: 0 0 0 10px rgba(150, 150, 150, 0.1), 0 1px 3px rgba(25, 25, 25, 0.3), 0 10px 15px rgba(200, 200, 200, 0.1) inset*/

/* Link Flairs ! */

.linkflairlabel {
	padding: 2px 8px 2px 8px !important;
	font-size: 11px !important;
}

.linkflair-form-check .linkflairlabel{
	background: #ADA9A9;
	color: #fff;
	border: 1px solid #797575;
}

.linkflair-moronic .linkflairlabel {
	background-color: #dc4437;
	border: 1px solid #d03e32;
	color: #fff;
}

.linkflair-nutrition .linkflairlabel {
	background-color: #f5b400;
	border: 1px solid #e5a800;
	color: #fff;
}

.linkflair-supplement .linkflairlabel {
	background-color: #52a8ec;
	border: 1px solid #3a7ae6;
	color: #fff;
}

.subButtons{
	text-align: center;
}

.res_post_downs{
	padding-left: 2px;
	padding-right: 1px;
}

.res_post_ups{
	padding-left: 1px;
	padding-right: 2px;	
}

.usertext-body .md blockquote{
	padding: 10px;
	outline: 5px solid #C9ECF6;
	border: 1px solid;
	background-color: #f4f8fa;
	border-color: #5bc0de;
	color:#23A1C7;
	margin-right: 5px;
}


.usertext-body .md blockquote:nth-of-type(1){
	position: absolute;
	top: 170px;
	left: 0px;
	right: 0px;
	margin: 0px;
	margin-right: 335px;
	margin-left: 15px;
	text-align: center;
}

.usertext-body .md blockquote hr{
	margin: 0px;
	text-align: center;
	border-color: #777;
	border-width: 0;
	border-style: dotted;
}

.usertext-body .md blockquote hr:after {
	content: "····";
	letter-spacing: 1em;
}


.usertext-body .md blockquote:nth-of-type(2) ul{
	list-style-type: square; 
}


.thing .tagline .author.submitter {
	color: white !important;
	font-weight: normal;
	padding: 3px 5px!important;
	border-radius: 2px !important;
	background-color: #3B7AE2 !important;
}


.stylesheet-customize-container{
	margin-top: 75px;
	margin-left: 5px;
	margin-right: 5px;
}